.wrap{
    padding: 0 180px;
}

.icon-container{
    display: flex;
    justify-content: space-between;
}

.icon-container figure{
    width: 48px;
    height: 48px;
    display: block;
}

.icon-container a{
    width: 100%;
}

.icon-left{
    display: flex;
}

.icon-left > .menu{
    display: block;
    background: url('../img/naver-clone/sprite.png') no-repeat -576px -439px;
	width: 52px;
	height: 42px;
    padding: 8px;
}

.icon-left > .pay{
    display: block;
    background: url('../img/naver-clone/sprite.png') no-repeat -652px -66px;
	width: 64px;
	height: 64px;
    padding: 8px;
}

.icon-right{
    display: flex;
}

.icon-right > .talk{
    display: block;
    background: url('../img/naver-clone/sprite.png') no-repeat -657px -335px;
	width: 54px;
	height: 54px;
    padding: 8px;
}

.icon-right > .report{
    display: block;
    background: url('../img/naver-clone/sprite.png') no-repeat -501px -464px;
	width: 46px;
	height: 51px;
    padding: 8px;
}

.icon-right > .shopping{
    display: block;
    background: url('../img/naver-clone/sprite.png') no-repeat -658px -204px;
	width: 52px;
	height: 51px;
    padding: 8px;
}

.search-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search-bar{
    width: 1000px;
    height: 50px;
    padding: 16px 32px;
    border: 1px solid #14CA65;
    border-radius: 50px;
    display: flex; 
    position: relative;
}

.search-bar > input{
    width: 100%;
    height: 58px;
    border: none;
    font-size: 1.4rem;
    line-height: 1.7rem;
    outline: none;
    font-weight: bold;
    padding: 0;
}

.search-bar > .logo{
    display: block;
    background: url('../img/naver-clone/sprite.png') no-repeat -776px -250px;
	width: 48px;
	height: 48px;
    box-sizing: border-box;
    padding: 17px;
}

.search-bar > .key-btn{
    display: block;
    background: url('../img/naver-clone/sprite.png') no-repeat -718px -638px;
	width: 48px;
	height: 28px;
    position: absolute;
    right: 100px;
    top: 33%;
}

.search-bar > .history-btn{
    display: block;
    background: url('../img/naver-clone/sprite.png') no-repeat -287px -353px;
	width: 16px;
	height: 10px;
    position: absolute;
    top: 50%;
    right: 70px;
    border: none;
    padding: 26px 6px;
}

.search-icon-area{
    padding: 16px;
    all: unset;
}

.search-bar span{
    display: block;
    width: 49px;
    height: 48px;
}

.search-bar > .search-icon{
    display: block;
    background: url('../img/naver-clone/sprite.png') no-repeat -673px -668px;
	width: 49px;
	height: 48px;
}

.nav-category-container{
    display: flex;
    width: 1000px;
    height: 70px;
    margin-top: 16px;
}

.nav-category .mail-icon{
	width: 50px;
	height: 50px;
    display: inline-block;
    background-image: url('../img/naver-clone/sprite.png');
    background-size: 916px 888px;
    background-position: -498px -95px;
    background-repeat: no-repeat;
    padding: 4px;
    border: 1px solid #777;
}




